@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Lora", sans-serif;
  font-weight: 300;
  font-style: normal;

}

span, p, h1, h2, h3, h4, h5, h6, a, button, input, label, li, ul, ol, textarea{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
}

